asgiref==3.7.2
Django
djangorestframework==3.14.0
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.10.0
mysqlclient==2.2.4
pillow==10.2.0
djangorestframework-simplejwt==5.3.1
pyjwt==2.8.0
django-cors-headers==4.3.1asgiref==3.7.2
black==24.3.0
click==8.1.7
Django==5.0.3
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
packaging==24.0
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
PyJWT==2.8.0
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
